//fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
// sifirlama
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
a{
    color: #000;
}
.container{
    width: 1200px;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
// colors
$primary-color:#2094e6;
$hover-btn:#145788;
$white-color:#fff;
$head-color:#121212;
$p-color:#333;
$white-hover: rgb(220, 220, 220);
$footer-color: #0a0a0a;

// button
@mixin button {
    width: fit-content;
    height: 35px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $white-color;
    transition: all .3s;
    &:hover{
        background-color: $hover-btn;
    }
} 
//title
@mixin title {
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    color: $head-color;
    margin-bottom: 20px;
}
//description
@mixin description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: $p-color;
    margin-bottom: 20px;
}
//section-title
@mixin section-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $primary-color;
    margin-bottom: 10px;
}
//section-words
@mixin section-words {
    width: 486px;
    padding-top: 30px;
}
@mixin footer-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: $white-color;
    margin-bottom: 25px;
}
@mixin footerLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $white-color;

}