@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}

a {
  color: #000;
}

.container {
  width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 3000px;
}

header {
  height: 80px;
  width: 100%;
  border-bottom: 2px solid rgba(229, 229, 229, 0.2);
  position: absolute;
  z-index: 99;
}
header .container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .navBar .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .container .navBar .logo a .logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container .navBar .logo a .logo-img img {
  width: 24px;
  height: 38px;
}
header .container .navBar .logo a .logo-img img:last-child {
  margin-left: -10px;
}
header .container .navBar .logo a span {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #fff;
}
header .container .navBar .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 82px;
}
header .container .navBar .nav-right .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  height: 80px;
}
header .container .navBar .nav-right .navigation .navItem {
  font-size: 18px;
}
header .container .navBar .nav-right .navigation .navItem .navLink {
  color: rgb(220, 220, 220);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .container .navBar .nav-right .navigation .navItem .navLink:hover {
  color: #fff;
}
header .container .navBar .nav-right .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container .navBar .nav-right .contact .contact-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2094e6;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .container .navBar .nav-right .contact .contact-link:hover {
  background-color: #145788;
}

#home {
  background-image: url("../image/image1.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}
#home::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
}
#home .container {
  padding-top: 241px;
}
#home .container .home-words {
  width: 592px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
#home .container .home-words .title {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #fff;
}
#home .container .home-words .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
#home .container .home-words .started {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2094e6;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#home .container .home-words .started:hover {
  background-color: #145788;
}

#about {
  padding-top: 138px;
}
#about .container .row .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 145px;
}
#about .container .row .about-container .about-imgs .about-img-top {
  width: 557px;
  height: 405px;
  position: relative;
}
#about .container .row .about-container .about-imgs .about-img-top img {
  width: 100%;
  height: 100%;
}
#about .container .row .about-container .about-imgs .about-img-top .about-img-bottom {
  width: 386px;
  height: 263px;
  position: absolute;
  bottom: -132px;
  right: -100px;
}
#about .container .row .about-container .about-imgs .about-img-top .about-img-bottom img {
  width: 100%;
  height: 100%;
}
#about .container .row .about-container .about-words {
  width: 486px;
  padding-top: 30px;
}
#about .container .row .about-container .about-words .about-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2094e6;
  margin-bottom: 10px;
}
#about .container .row .about-container .about-words .title {
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  color: #121212;
  margin-bottom: 20px;
}
#about .container .row .about-container .about-words .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  margin-bottom: 20px;
}
#about .container .row .about-container .about-words .started {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 35px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2094e6;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#about .container .row .about-container .about-words .started:hover {
  background-color: #145788;
}
#about .container .row .about-container .about-words .started img {
  width: 11px;
  height: 10px;
  margin-left: 10px;
}

#whyUs {
  padding-top: 260px;
}
#whyUs .container .row .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
#whyUs .container .row .cards .card {
  width: 285px;
  padding: 44px 28px 30px 27px;
  -webkit-box-shadow: 0 7px 29px rgba(100, 100, 111, 0.2);
          box-shadow: 0 7px 29px rgba(100, 100, 111, 0.2);
}
#whyUs .container .row .cards .card img {
  width: 50px;
  height: 50px;
  margin-bottom: 14px;
}
#whyUs .container .row .cards .card .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  margin-bottom: 15px;
}
#whyUs .container .row .cards .card .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}/*# sourceMappingURL=main.css.map */